@import "vars";

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.why-choose-us {
  margin: 48px 0 30px 0;
  h3 {
    margin: 0;
    padding: 0 0 28px 0;
    color: #7f8c8c;
    font-size: 16px;
    line-height: 19px;
    font-family: 'OpenSans-ExtraBold', sans-serif;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      padding: 0;
      margin: 0;
      color: #777777;
      font-size: 13px;
      line-height: 26px;
      font-family: 'OpenSans-Regular', sans-serif;
      list-style: none;
      &:before {
        content: '\f061';
        font-family: 'FontAwesome', sans-serif;
        font-size: 12px;
        color: #e1524b;
        padding: 0 6px 0 2px;
      }
    }
  }
}

.skills {
  margin: 48px 0 30px 0;
  .progress-circle {
    position: relative;
    text-align: center;
    margin: 50px 0 0 0;
  }
  .bar-overflow {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 55px;
    margin-bottom: -30px;
  }
  .bar {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -55px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 16px solid #76c7c0;
    border-bottom-color: #e2534b;
    border-right-color: #e2534b;
  }
  p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 25px;
    color: #777777;
    text-align: left;
  }
  a {
    text-decoration: underline;
    color: #e1524b;
    font-size: 13px;
    line-height: 25px;
  }
  .skill-value {
    font-size: 30px;
    line-height: 36px;
    font-family: 'OpenSans-ExtraBold', sans-serif;
    color: #7f8c8c;
  }
  .skill-name {
    padding-top: 17px;
    font-size: 16px;
    line-height: 19px;
    font-family: 'OpenSans-ExtraBold', sans-serif;
    color: #7f8c8c;
    display: block;
    text-align: center;
  }
}

.testimonials {
  margin: 48px 0 30px 0;
  h3 {
    margin: 0 0 20px 0;
    color: #7f8c8c;
    font-size: 16px;
    line-height: 19px;
    font-family: 'OpenSans-ExtraBold', sans-serif;
  }
  .comment {
    padding: 12px 13px;
    display: block;
    position: relative;
    margin: 0;
    color: #777777;
    font-size: 13px;
    line-height: 25px;
    font-family: 'OpenSans-Italic', sans-serif;
    background: #f8f8f8;
    border-radius: 4px;
    &:before {
      content: '';
      position: absolute;
      border: 12px solid transparent;
      border-top: 12px solid #f8f8f8;
      border-right: 12px solid #f8f8f8;
      left: 16px;
      bottom: -24px;
    }
  }
  .author {
    padding: 0;
    margin: 0 0 0 56px;
    display: block;
    color: #777777;
    font-size: 16px;
    line-height: 30px;
    font-family: 'OpenSans-Semibold', sans-serif;
  }
}