.clients {
  padding: 25px 0 50px 0;
  background: #f3f3f3;
  position: relative;
}
.out-clients {
  h3 {
    margin: 0 0 56px 0;
    color: #7f8c8c;
    font-size: 16px;
    line-height: 19px;
    font-family: 'OpenSans-ExtraBold', sans-serif;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      border: 4px solid #e1e2e2;
      top: 5px;
      left: 166px;
      border-radius: 50%;
    }
    &:before {
      content: '';
      position: absolute;
      border: 1px solid #e1e2e2;
      width: 74%;
      top: 8px;
      left: 174px;
    }
  }
  /* the slides */
  .slick-slide {
    margin: 0 15px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -15px;
  }
  .slick-initialized .slick-slide {
    outline: none;
    padding: 30px 0;
    background: #fff;
    border-radius: 4px;
    text-align: center;
  }
  .slick-slider .item img {
    margin: 0 auto;
  }
  .prev-slide {
    position: absolute;
    top: -82px;
    right: 60px;
    cursor: pointer;
    i {
      padding: 5px 10px;
      font-size: 24px;
      color: #ffffff;
      background: #98a3a3;
      box-shadow: 0 3px 0 0 #7f8c8c;
      transition: all 0.3s ease-out;
      border-radius: 4px;
      &:hover {
        background: #e2534b;
        box-shadow: 0 3px 0 0 #e2534b;
      }
    }
  }
  .next-slide {
    position: absolute;
    top: -82px;
    right: 0;
    cursor: pointer;
    i {
      padding: 5px 10px;
      font-size: 24px;
      color: #ffffff;
      background: #98a3a3;
      box-shadow: 0 3px 0 0 #7f8c8c;
      transition: all 0.3s ease-out;
      border-radius: 4px;
      &:hover {
        background: #e2534b;
        box-shadow: 0 3px 0 0 #e2534b;
      }
    }
  }
}