@font-face {
  font-family: OpenSans-Regular;
  src: url(/assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(/assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans-ExtraBold;
  src: url(/assets/fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: OpenSans-Italic;
  src: url(/assets/fonts/OpenSans-Italic.ttf);
}

@font-face {
  font-family: OpenSans-Semibold;
  src: url(/assets/fonts/OpenSans-Semibold.ttf);
}

@font-face {
  font-family: OpenSans-SemiboldItalic;
  src: url(/assets/fonts/OpenSans-SemiboldItalic.ttf);
}

@font-face {
  font-family: FontAwesome;
  src: url(/assets/fonts/font-awesome/fontawesome-webfont.ttf);
}