@import "vars";

.footer {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
    height: 19px;
    content: '';
    width: 100%;
    background: url('/assets/img/bottom-lines.png') no-repeat $main-color;
  }
}

.footer-description {
  background: $main-color;
  padding: 46px 0;
  .company-info {
    color: #ffffff;
    .logo h2 {
      margin: 0 0 16px 0;
      padding: 0;
      font-size: 30px;
      line-height: 36px;
      font-family: 'OpenSans-ExtraBold', sans-serif;
      span {
        font-size: 25px;
        line-height: 30px;
        font-family: 'OpenSans-Regular', sans-serif;
      }
    }
    .description p {
      margin: 0 0 16px 0;
      font-size: 13px;
      line-height: 23px;
      font-family: 'OpenSans-Regular', sans-serif;
    }
    .contacts ul {
      margin: 0;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        list-style: none;
        font-size: 13px;
        line-height: 23px;
        font-family: 'OpenSans-Regular', sans-serif;
        span {
          margin-left: 18px;
          font-size: 20px;
          line-height: 30px;
          font-family: 'OpenSans-SemiboldItalic', sans-serif;
        }
      }
    }
  }
}

.footer-copyright {
  background: #6ab3ac;
  .copyright-text {
    margin: 13px 0;
    p {
      margin: 0;
      padding: 0;
      color: #ffffff;
      font-size: 12px;
      line-height: 22px;
      font-family: 'OpenSans-Regular', sans-serif;
    }
  }
  .footer-social {
    ul {
      padding: 0;
      margin: 13px 0;
      text-align: right;
      li {
        display: inline-block;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.footer-menu {
  h3 {
    margin: 0 0 30px 0;
    padding: 0;
    opacity: .4;
    color: #000000;
    font-size: 20px;
    line-height: 24px;
    font-family: 'OpenSans-Bold', sans-serif;
  }
  ul {
    padding: 0;
    margin: 0 0 0 38px;
    li {
      list-style: none;
      position: relative;
      &:before {
        content: '\f105';
        position: absolute;
        left: -10px;
        font-size: 14px;
        font-family: 'FontAwesome', sans-serif;
      }
      a {
        color: #ffffff;
        font-size: 13px;
        line-height: 23px;
        font-family: 'OpenSans-Regular', sans-serif;
        text-decoration: none;
      }
    }
  }
}

.footer-news {
  //margin: 46px 0;
  .news-item {
    min-height: 70px;
    margin: 0 0 20px 0;
  }
  h3 {
    padding: 0;
    margin: 0 0 28px 0;
    font-size: 20px;
    line-height: 24px;
    font-family: 'OpenSans-Italic', sans-serif;
    span {
      font-family: 'OpenSans-Bold', sans-serif;
    }
  }
  p.title {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 13px;
    line-height: 19px;
    font-family: 'OpenSans-Regular', sans-serif;
  }
  span.date {
    opacity: .5;
    color: #000000;
    font-size: 13px;
    line-height: 19px;
    font-family: 'OpenSans-Regular', sans-serif;
  }
  img {
    margin: 0 18px 0 0;
    float: left;
    height: 70px;
    width: 70px;
  }
}