body {
  font-family: 'OpenSans-Regular', sans-serif;
  color: #fff;
  background: #f3f3f3;
}

header {
  height: 100%;
  background: #76c7c0;
  color: #fff;
  position: relative;
  &::before {
    content: '';
    width: 100%;
    height: 9px;
    position: absolute;
    bottom: 0;
    opacity: .5;
    background-image: url("../img/header-lines.png");
  }
}

.menu-section {
  display: flex;
  justify-content: flex-end;
}

.main-menu {
  line-height: 80px;
  display: inline-block;
  font-family: 'OpenSans-Semibold', sans-serif;
  font-size: 13px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    .sub-menu {
      a {
        padding: 9px 18px 9px 32px;
        &::before {
          content: '\f107';
          font-family: FontAwesome;
          font-size: 14px;
          position: absolute;
          left: 16px;
        }
      }
    }
    li {
      display: inline-block;
      position: relative;
      margin-right: 15px;
      padding: 0;
      &:hover a {
        background: #e8645a;
        border-radius: 3px;
        box-shadow: 0 3px 0 0 #e2534b;
      }
      &.active a {
        padding: 8px 13px;
        background: #62a29e;
        border-radius: 3px;
        box-shadow: 0 3px 0 0 rgba(82, 139, 134, 1);
      }
      &:hover ul.dropdown {
        opacity: 1;
        height: auto;
        transition: opacity 0.3s ease-out;
      }
      a {
        padding: 8px 16px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.3s ease-out;
      }
    }
    ul.dropdown {
      line-height: 100%;
      min-width: 200px;
      background: #e2534b;
      position: absolute;
      z-index: 999;
      left: 0;
      top: 90%;
      border-radius: 4px;
      opacity: 0;
      height: 0;
      &:before {
        bottom: 100%;
        left: 10%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #e2534b;
        border-width: 6px;
        margin-left: -6px;
      }
      li {
        display: block;
        margin: 6px;
        padding: 0;
      }
      a {
        display: block;
        line-height: 100%;
        text-transform: capitalize;
        padding: 9px 12px 9px 24px;
        cursor: pointer;
        background: #e8645a;
        border-radius: 3px;
        box-shadow: 0 3px 0 0 #e2534b;
        &:hover {
          background: #76c7c0;
        }
        &::before {
          content: '\f105';
          font-family: FontAwesome;
          font-size: 14px;
          position: absolute;
          left: 12px;
          top: 9px;
        }
      }
    }
  }
}

.logo h1 {
  margin: 0;
  padding: 0;
  line-height: 80px;
  font-size: 30px;
  font-family: 'OpenSans-ExtraBold', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  span {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 25px;
    text-transform: lowercase;
  }
}

.header-search {
  line-height: 80px;
  margin-left: 15px;
  display: inline-block;
  cursor: pointer;
}

#nav {
  overflow: hidden;
}

.navbar-toggle:focus, .navbar-toggle:hover {
  background-color: #e2534b;
}

.navbar-toggle {
  border-color: #e2534b;
}

.navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}

.navbar-toggle {
  border: none;
}