@import "vars";

.intro-block {
  background-color: #ececec;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .intro-content {
    padding: 17px 0 17px 10px;
  }

  .view-more-btn {
    text-align: center;
  }

  h3 {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    font-family: 'OpenSans-Semibold', sans-serif;
    color: #7f8c8c;
  }

  p {
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    font-family: 'OpenSans-Regular', sans-serif;
    color: #777777;
    letter-spacing: -0.3px;
  }

  a {
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    font-family: 'OpenSans-Semibold', sans-serif;
    padding: 10px 44px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 3px 0 0 $accent-shadow;
    background-color: $accent-color;
  }
}