/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main-menu ul {
    float: none;
    text-align: center;
  }
  .logo h1 {
    text-align: center;
  }
  .header-search {
    float: left;
  }
  .out-clients h3:before {
    width: 68%;
  }
}

/**/

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .logo h1 {
    text-align: center;
  }
  .main-menu ul li a {
    padding: 10px 9px;
  }
  .service {
    margin: 50px 0 40px 0;
  }
  .why-choose-us {
    margin: 0;
  }
  .skills {
    margin: 30px 0 30px 0;
  }
  .out-clients h3:before {
    width: 60%;
  }
  .order-second {
    order: 2;
  }
  .testimonials {
    margin: 0;
  }
  .first-item img, .third-item img {
    max-width: 356px;
  }
  .footer-description .company-info {
    margin: 0 0 30px 0;
  }
}

/**/

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .menu-section {
    justify-content: center;
    .header-search {
      display: none;
    }
    .main-menu ul {
      &:first-child > li {
        margin: 0;
        line-height: 30px;
        &:first-child {
          margin: 16px 0 4px 0;
        }
        &:last-child {
          margin: 0px 0 20px 0;
        }
      }
    }
  }
  .main-menu ul li {
    display: block;
  }
  .service {
    margin: 50px 0 30px 0;
  }
  .intro-block h3 {
    font-size: 29px;
  }
  .first-item img, .third-item img {
    max-width: 250px;
  }
  .why-choose-us {
    margin: 48px 0 30px 0;
  }
  .testimonials {
    margin: 48px 0 30px 0;
  }
  .out-clients h3:before {
    width: 48%;
  }
  .footer-news {
    margin: 28px 0 0 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .owl-carousel .slide .slide-description h3 {
    font-size: 37px;
  }
  .owl-carousel .slide .slide-description p {
    max-width: 270px;
  }
  .about h2.about-title {
    padding: 40px 0 0 0;
    color: #e1524b;
    font-size: 30px;
    line-height: 40px;
  }
  .about p.about-description {
    margin: 0;
    padding: 0 0 40px 0;
  }
  .about-images {
    margin: 66px 0 0px 0;
  }
  .first-item img, .third-item img {
    max-width: 200px;
  }
  .service-more-btn a {
    padding: 19px 26px;
  }
  .intro-block a {
    font-size: 13px;
    padding: 10px 18px;
  }
  .intro-block h3 {
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 5px 0px;
  }
  .out-clients h3 {
    &::before, &::after {
      display: none;
    }
  }
  .skills {
    margin: 0px 0 30px 0;
  }
  .footer-news {
    margin: 28px 0 0 0;
  }
}

/**/

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .about h2.about-title {
    font-size: 23px;
  }
  .first-item img, .third-item img {
    max-width: 140px;
  }
}

/**/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/**/

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/**/

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/**/

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}

/**/