@import "vars";

.service {
  margin: 50px 0 80px 0;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  & > div {
    display: flex;
  }
  .service-item {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 3px 0 0 #e5e6e6;
    transition: all 0.3s ease-out;
    margin: 0 0 55px 0;
    i {
      transition: all 0.3s ease-out;
      padding-top: 50px;
      font-size: 60px;
      color: $main-color;
    }
    &:hover i {
      color: $accent-shadow;
    }
    &:hover .service-more-btn a {
      background-color: $accent-shadow;
      box-shadow: 0 3px 0 0 $accent-shadow;
    }
    p {
      flex: 1 0 auto;
    }
  }
}

.service-title {
  padding: 17px 0 36px 0;
  margin: 0;
  color: #7f8c8c;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  font-family: 'OpenSans-ExtraBold', sans-serif;
}

.service-description {
  padding: 0 18px 43px 18px;
  margin: 0;
  color: #777777;
  font-size: 13px;
  line-height: 21px;
  font-family: 'OpenSans-Regular', sans-serif;
}

.service-more-btn a {
  position: relative;
  top: 8px;
  color: #ffffff;
  background-color: $main-color;
  font-size: 14px;
  line-height: 16px;
  text-transform: lowercase;
  font-family: 'OpenSans-Semibold', sans-serif;
  padding: 19px 65px;
  border-radius: 5px;
  box-shadow: 0 3px 0 0 $main-shadow;
  transition: all 0.3s ease-out;
  text-decoration: none;
  cursor: pointer;
}