@import "vars";

.home-slider {
  position: relative;
}

.owl-carousel .slide {
  height: 500px;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .slide-description {
    max-width: 436px;
    margin: 0 auto;

    h3 {
      margin: 0 0 10px 0;
      display: inline-block;
      padding: 0 8px;
      font-size: 50px;
      font-family: 'OpenSans-ExtraBold', sans-serif;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #e2534b;
      border-radius: 3px;
    }

    p {
      margin: 0;
      padding: 5px 0;
      max-width: 470px;
      font-family: 'OpenSans-Regular', sans-serif;
      font-size: 16px;
      background-color: #3f4646;
      border-radius: 3px;
      line-height: 26px;
    }
  }
}

.owl-item img {
  max-height: 500px;
}

.slide-prev {
  background: $accent-color;
  border-radius: 0 3px 3px 0;
  box-shadow: 0 3px 0 0 #e2534b;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  left: 0;
  height: 56px;
  width: 50px;
  top: 50%;
  margin-top: -58px;
  z-index: 1;
  i {
    font-size: 40px;
  }
}

.slide-next {
  background: $accent-color;
  border-radius: 3px 0 0 3px;
  box-shadow: 0 3px 0 0 #e2534b;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  right: 0;
  height: 56px;
  width: 50px;
  top: 50%;
  margin-top: -58px;
  z-index: 1;
  i {
    font-size: 40px;
  }
}

.owl-dots {
  list-style: none;
  position: relative;
  text-align: center;
  padding: 15px 0;

  .owl-dot {
    background: #b0b8b9;
    cursor: pointer;
    display: inline-block;
    height: 6px;
    margin: 2px 3px;
    width: 46px;

    &.active {
      background: #e2534b;
    }
  }
}