.why-modus {
  .about-title {
    margin: 0;
    padding: 70px 0 0 0;
    color: #e1524b;
    font-size: 40px;
    line-height: 48px;
    font-family: 'OpenSans-Semibold', sans-serif;
    text-align: center;
  }
  .about-description {
    margin: 0;
    padding: 0 0 70px 0;
    color: #777777;
    font-size: 13px;
    line-height: 21px;
    font-family: 'OpenSans-Regular', sans-serif;
    text-align: center;
  }
  &:before {
    position: absolute;
    height: 396px;
    content: '';
    width: 100%;
    background: url('/assets/img/bottom-lines.png') no-repeat #ececec;
  }
  .about-images {
    margin: 66px 0 48px 0;
    .second-item {
      img {
        position: absolute;
        width: 100%;
        text-align: center;
        z-index: 2;
        top: -68px;
        left: 0;
      }
    }

    .third-item {
      img {
        float: right;
      }
    }
  }
}