@font-face {
  font-family: OpenSans-Regular;
  src: url(/assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(/assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans-ExtraBold;
  src: url(/assets/fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: OpenSans-Italic;
  src: url(/assets/fonts/OpenSans-Italic.ttf);
}

@font-face {
  font-family: OpenSans-Semibold;
  src: url(/assets/fonts/OpenSans-Semibold.ttf);
}

@font-face {
  font-family: OpenSans-SemiboldItalic;
  src: url(/assets/fonts/OpenSans-SemiboldItalic.ttf);
}

@font-face {
  font-family: FontAwesome;
  src: url(/assets/fonts/font-awesome/fontawesome-webfont.ttf);
}

body {
  font-family: 'OpenSans-Regular', sans-serif;
  color: #fff;
  background: #f3f3f3;
}

header {
  height: 100%;
  background: #76c7c0;
  color: #fff;
  position: relative;
}

header::before {
  content: '';
  width: 100%;
  height: 9px;
  position: absolute;
  bottom: 0;
  opacity: .5;
  background-image: url("../img/header-lines.png");
}

.menu-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-menu {
  line-height: 80px;
  display: inline-block;
  font-family: 'OpenSans-Semibold', sans-serif;
  font-size: 13px;
}

.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu ul .sub-menu a {
  padding: 9px 18px 9px 32px;
}

.main-menu ul .sub-menu a::before {
  content: '\f107';
  font-family: FontAwesome;
  font-size: 14px;
  position: absolute;
  left: 16px;
}

.main-menu ul li {
  display: inline-block;
  position: relative;
  margin-right: 15px;
  padding: 0;
}

.main-menu ul li:hover a {
  background: #e8645a;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 #e2534b;
}

.main-menu ul li.active a {
  padding: 8px 13px;
  background: #62a29e;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 #528b86;
}

.main-menu ul li:hover ul.dropdown {
  opacity: 1;
  height: auto;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.main-menu ul li a {
  padding: 8px 16px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.main-menu ul ul.dropdown {
  line-height: 100%;
  min-width: 200px;
  background: #e2534b;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 90%;
  border-radius: 4px;
  opacity: 0;
  height: 0;
}

.main-menu ul ul.dropdown:before {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #e2534b;
  border-width: 6px;
  margin-left: -6px;
}

.main-menu ul ul.dropdown li {
  display: block;
  margin: 6px;
  padding: 0;
}

.main-menu ul ul.dropdown a {
  display: block;
  line-height: 100%;
  text-transform: capitalize;
  padding: 9px 12px 9px 24px;
  cursor: pointer;
  background: #e8645a;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 #e2534b;
}

.main-menu ul ul.dropdown a:hover {
  background: #76c7c0;
}

.main-menu ul ul.dropdown a::before {
  content: '\f105';
  font-family: FontAwesome;
  font-size: 14px;
  position: absolute;
  left: 12px;
  top: 9px;
}

.logo h1 {
  margin: 0;
  padding: 0;
  line-height: 80px;
  font-size: 30px;
  font-family: 'OpenSans-ExtraBold', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.logo h1 span {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 25px;
  text-transform: lowercase;
}

.header-search {
  line-height: 80px;
  margin-left: 15px;
  display: inline-block;
  cursor: pointer;
}

#nav {
  overflow: hidden;
}

.navbar-toggle:focus, .navbar-toggle:hover {
  background-color: #e2534b;
}

.navbar-toggle {
  border-color: #e2534b;
}

.navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}

.navbar-toggle {
  border: none;
}

.home-slider {
  position: relative;
}

.owl-carousel .slide {
  height: 500px;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.owl-carousel .slide .slide-description {
  max-width: 436px;
  margin: 0 auto;
}

.owl-carousel .slide .slide-description h3 {
  margin: 0 0 10px 0;
  display: inline-block;
  padding: 0 8px;
  font-size: 50px;
  font-family: 'OpenSans-ExtraBold', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #e2534b;
  border-radius: 3px;
}

.owl-carousel .slide .slide-description p {
  margin: 0;
  padding: 5px 0;
  max-width: 470px;
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 16px;
  background-color: #3f4646;
  border-radius: 3px;
  line-height: 26px;
}

.owl-item img {
  max-height: 500px;
}

.slide-prev {
  background: #e8645a;
  border-radius: 0 3px 3px 0;
  box-shadow: 0 3px 0 0 #e2534b;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  cursor: pointer;
  left: 0;
  height: 56px;
  width: 50px;
  top: 50%;
  margin-top: -58px;
  z-index: 1;
}

.slide-prev i {
  font-size: 40px;
}

.slide-next {
  background: #e8645a;
  border-radius: 3px 0 0 3px;
  box-shadow: 0 3px 0 0 #e2534b;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  cursor: pointer;
  right: 0;
  height: 56px;
  width: 50px;
  top: 50%;
  margin-top: -58px;
  z-index: 1;
}

.slide-next i {
  font-size: 40px;
}

.owl-dots {
  list-style: none;
  position: relative;
  text-align: center;
  padding: 15px 0;
}

.owl-dots .owl-dot {
  background: #b0b8b9;
  cursor: pointer;
  display: inline-block;
  height: 6px;
  margin: 2px 3px;
  width: 46px;
}

.owl-dots .owl-dot.active {
  background: #e2534b;
}

.intro-block {
  background-color: #ececec;
  border-radius: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-block .intro-content {
  padding: 17px 0 17px 10px;
}

.intro-block .view-more-btn {
  text-align: center;
}

.intro-block h3 {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-family: 'OpenSans-Semibold', sans-serif;
  color: #7f8c8c;
}

.intro-block p {
  margin: 0;
  font-size: 13px;
  line-height: 20px;
  font-family: 'OpenSans-Regular', sans-serif;
  color: #777777;
  letter-spacing: -0.3px;
}

.intro-block a {
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  font-family: 'OpenSans-Semibold', sans-serif;
  padding: 10px 44px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 3px 0 0 #e2534b;
  background-color: #e8645a;
}

.service {
  margin: 50px 0 80px 0;
}

.service-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.service-list > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.service-list .service-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 3px 0 0 #e5e6e6;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin: 0 0 55px 0;
}

.service-list .service-item i {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding-top: 50px;
  font-size: 60px;
  color: #76c7c0;
}

.service-list .service-item:hover i {
  color: #e2534b;
}

.service-list .service-item:hover .service-more-btn a {
  background-color: #e2534b;
  box-shadow: 0 3px 0 0 #e2534b;
}

.service-list .service-item p {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.service-title {
  padding: 17px 0 36px 0;
  margin: 0;
  color: #7f8c8c;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  font-family: 'OpenSans-ExtraBold', sans-serif;
}

.service-description {
  padding: 0 18px 43px 18px;
  margin: 0;
  color: #777777;
  font-size: 13px;
  line-height: 21px;
  font-family: 'OpenSans-Regular', sans-serif;
}

.service-more-btn a {
  position: relative;
  top: 8px;
  color: #ffffff;
  background-color: #76c7c0;
  font-size: 14px;
  line-height: 16px;
  text-transform: lowercase;
  font-family: 'OpenSans-Semibold', sans-serif;
  padding: 19px 65px;
  border-radius: 5px;
  box-shadow: 0 3px 0 0 #62b9b0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-decoration: none;
  cursor: pointer;
}

.flex-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.why-choose-us {
  margin: 48px 0 30px 0;
}

.why-choose-us h3 {
  margin: 0;
  padding: 0 0 28px 0;
  color: #7f8c8c;
  font-size: 16px;
  line-height: 19px;
  font-family: 'OpenSans-ExtraBold', sans-serif;
}

.why-choose-us ul {
  margin: 0;
  padding: 0;
}

.why-choose-us ul li {
  padding: 0;
  margin: 0;
  color: #777777;
  font-size: 13px;
  line-height: 26px;
  font-family: 'OpenSans-Regular', sans-serif;
  list-style: none;
}

.why-choose-us ul li:before {
  content: '\f061';
  font-family: 'FontAwesome', sans-serif;
  font-size: 12px;
  color: #e1524b;
  padding: 0 6px 0 2px;
}

.skills {
  margin: 48px 0 30px 0;
}

.skills .progress-circle {
  position: relative;
  text-align: center;
  margin: 50px 0 0 0;
}

.skills .bar-overflow {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 55px;
  margin-bottom: -30px;
}

.skills .bar {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -55px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 16px solid #76c7c0;
  border-bottom-color: #e2534b;
  border-right-color: #e2534b;
}

.skills p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 25px;
  color: #777777;
  text-align: left;
}

.skills a {
  text-decoration: underline;
  color: #e1524b;
  font-size: 13px;
  line-height: 25px;
}

.skills .skill-value {
  font-size: 30px;
  line-height: 36px;
  font-family: 'OpenSans-ExtraBold', sans-serif;
  color: #7f8c8c;
}

.skills .skill-name {
  padding-top: 17px;
  font-size: 16px;
  line-height: 19px;
  font-family: 'OpenSans-ExtraBold', sans-serif;
  color: #7f8c8c;
  display: block;
  text-align: center;
}

.testimonials {
  margin: 48px 0 30px 0;
}

.testimonials h3 {
  margin: 0 0 20px 0;
  color: #7f8c8c;
  font-size: 16px;
  line-height: 19px;
  font-family: 'OpenSans-ExtraBold', sans-serif;
}

.testimonials .comment {
  padding: 12px 13px;
  display: block;
  position: relative;
  margin: 0;
  color: #777777;
  font-size: 13px;
  line-height: 25px;
  font-family: 'OpenSans-Italic', sans-serif;
  background: #f8f8f8;
  border-radius: 4px;
}

.testimonials .comment:before {
  content: '';
  position: absolute;
  border: 12px solid transparent;
  border-top: 12px solid #f8f8f8;
  border-right: 12px solid #f8f8f8;
  left: 16px;
  bottom: -24px;
}

.testimonials .author {
  padding: 0;
  margin: 0 0 0 56px;
  display: block;
  color: #777777;
  font-size: 16px;
  line-height: 30px;
  font-family: 'OpenSans-Semibold', sans-serif;
}

.why-modus .about-title {
  margin: 0;
  padding: 70px 0 0 0;
  color: #e1524b;
  font-size: 40px;
  line-height: 48px;
  font-family: 'OpenSans-Semibold', sans-serif;
  text-align: center;
}

.why-modus .about-description {
  margin: 0;
  padding: 0 0 70px 0;
  color: #777777;
  font-size: 13px;
  line-height: 21px;
  font-family: 'OpenSans-Regular', sans-serif;
  text-align: center;
}

.why-modus:before {
  position: absolute;
  height: 396px;
  content: '';
  width: 100%;
  background: url("/assets/img/bottom-lines.png") no-repeat #ececec;
}

.why-modus .about-images {
  margin: 66px 0 48px 0;
}

.why-modus .about-images .second-item img {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 2;
  top: -68px;
  left: 0;
}

.why-modus .about-images .third-item img {
  float: right;
}

.clients {
  padding: 25px 0 50px 0;
  background: #f3f3f3;
  position: relative;
}

.out-clients {
  /* the slides */
  /* the parent */
}

.out-clients h3 {
  margin: 0 0 56px 0;
  color: #7f8c8c;
  font-size: 16px;
  line-height: 19px;
  font-family: 'OpenSans-ExtraBold', sans-serif;
  position: relative;
}

.out-clients h3:after {
  content: '';
  position: absolute;
  border: 4px solid #e1e2e2;
  top: 5px;
  left: 166px;
  border-radius: 50%;
}

.out-clients h3:before {
  content: '';
  position: absolute;
  border: 1px solid #e1e2e2;
  width: 74%;
  top: 8px;
  left: 174px;
}

.out-clients .slick-slide {
  margin: 0 15px;
}

.out-clients .slick-list {
  margin: 0 -15px;
}

.out-clients .slick-initialized .slick-slide {
  outline: none;
  padding: 30px 0;
  background: #fff;
  border-radius: 4px;
  text-align: center;
}

.out-clients .slick-slider .item img {
  margin: 0 auto;
}

.out-clients .prev-slide {
  position: absolute;
  top: -82px;
  right: 60px;
  cursor: pointer;
}

.out-clients .prev-slide i {
  padding: 5px 10px;
  font-size: 24px;
  color: #ffffff;
  background: #98a3a3;
  box-shadow: 0 3px 0 0 #7f8c8c;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 4px;
}

.out-clients .prev-slide i:hover {
  background: #e2534b;
  box-shadow: 0 3px 0 0 #e2534b;
}

.out-clients .next-slide {
  position: absolute;
  top: -82px;
  right: 0;
  cursor: pointer;
}

.out-clients .next-slide i {
  padding: 5px 10px;
  font-size: 24px;
  color: #ffffff;
  background: #98a3a3;
  box-shadow: 0 3px 0 0 #7f8c8c;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 4px;
}

.out-clients .next-slide i:hover {
  background: #e2534b;
  box-shadow: 0 3px 0 0 #e2534b;
}

.footer {
  position: relative;
}

.footer:before {
  position: absolute;
  top: 0;
  left: 0;
  opacity: .2;
  height: 19px;
  content: '';
  width: 100%;
  background: url("/assets/img/bottom-lines.png") no-repeat #76c7c0;
}

.footer-description {
  background: #76c7c0;
  padding: 46px 0;
}

.footer-description .company-info {
  color: #ffffff;
}

.footer-description .company-info .logo h2 {
  margin: 0 0 16px 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-family: 'OpenSans-ExtraBold', sans-serif;
}

.footer-description .company-info .logo h2 span {
  font-size: 25px;
  line-height: 30px;
  font-family: 'OpenSans-Regular', sans-serif;
}

.footer-description .company-info .description p {
  margin: 0 0 16px 0;
  font-size: 13px;
  line-height: 23px;
  font-family: 'OpenSans-Regular', sans-serif;
}

.footer-description .company-info .contacts ul {
  margin: 0;
  padding: 0;
}

.footer-description .company-info .contacts ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 13px;
  line-height: 23px;
  font-family: 'OpenSans-Regular', sans-serif;
}

.footer-description .company-info .contacts ul li span {
  margin-left: 18px;
  font-size: 20px;
  line-height: 30px;
  font-family: 'OpenSans-SemiboldItalic', sans-serif;
}

.footer-copyright {
  background: #6ab3ac;
}

.footer-copyright .copyright-text {
  margin: 13px 0;
}

.footer-copyright .copyright-text p {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 22px;
  font-family: 'OpenSans-Regular', sans-serif;
}

.footer-copyright .footer-social ul {
  padding: 0;
  margin: 13px 0;
  text-align: right;
}

.footer-copyright .footer-social ul li {
  display: inline-block;
  margin-right: 20px;
}

.footer-copyright .footer-social ul li:last-child {
  margin-right: 0;
}

.footer-menu h3 {
  margin: 0 0 30px 0;
  padding: 0;
  opacity: .4;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-family: 'OpenSans-Bold', sans-serif;
}

.footer-menu ul {
  padding: 0;
  margin: 0 0 0 38px;
}

.footer-menu ul li {
  list-style: none;
  position: relative;
}

.footer-menu ul li:before {
  content: '\f105';
  position: absolute;
  left: -10px;
  font-size: 14px;
  font-family: 'FontAwesome', sans-serif;
}

.footer-menu ul li a {
  color: #ffffff;
  font-size: 13px;
  line-height: 23px;
  font-family: 'OpenSans-Regular', sans-serif;
  text-decoration: none;
}

.footer-news .news-item {
  min-height: 70px;
  margin: 0 0 20px 0;
}

.footer-news h3 {
  padding: 0;
  margin: 0 0 28px 0;
  font-size: 20px;
  line-height: 24px;
  font-family: 'OpenSans-Italic', sans-serif;
}

.footer-news h3 span {
  font-family: 'OpenSans-Bold', sans-serif;
}

.footer-news p.title {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 13px;
  line-height: 19px;
  font-family: 'OpenSans-Regular', sans-serif;
}

.footer-news span.date {
  opacity: .5;
  color: #000000;
  font-size: 13px;
  line-height: 19px;
  font-family: 'OpenSans-Regular', sans-serif;
}

.footer-news img {
  margin: 0 18px 0 0;
  float: left;
  height: 70px;
  width: 70px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main-menu ul {
    float: none;
    text-align: center;
  }
  .logo h1 {
    text-align: center;
  }
  .header-search {
    float: left;
  }
  .out-clients h3:before {
    width: 68%;
  }
}

/**/
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .logo h1 {
    text-align: center;
  }
  .main-menu ul li a {
    padding: 10px 9px;
  }
  .service {
    margin: 50px 0 40px 0;
  }
  .why-choose-us {
    margin: 0;
  }
  .skills {
    margin: 30px 0 30px 0;
  }
  .out-clients h3:before {
    width: 60%;
  }
  .order-second {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .testimonials {
    margin: 0;
  }
  .first-item img, .third-item img {
    max-width: 356px;
  }
  .footer-description .company-info {
    margin: 0 0 30px 0;
  }
}

/**/
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .menu-section {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-section .header-search {
    display: none;
  }
  .menu-section .main-menu ul:first-child > li {
    margin: 0;
    line-height: 30px;
  }
  .menu-section .main-menu ul:first-child > li:first-child {
    margin: 16px 0 4px 0;
  }
  .menu-section .main-menu ul:first-child > li:last-child {
    margin: 0px 0 20px 0;
  }
  .main-menu ul li {
    display: block;
  }
  .service {
    margin: 50px 0 30px 0;
  }
  .intro-block h3 {
    font-size: 29px;
  }
  .first-item img, .third-item img {
    max-width: 250px;
  }
  .why-choose-us {
    margin: 48px 0 30px 0;
  }
  .testimonials {
    margin: 48px 0 30px 0;
  }
  .out-clients h3:before {
    width: 48%;
  }
  .footer-news {
    margin: 28px 0 0 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .owl-carousel .slide .slide-description h3 {
    font-size: 37px;
  }
  .owl-carousel .slide .slide-description p {
    max-width: 270px;
  }
  .about h2.about-title {
    padding: 40px 0 0 0;
    color: #e1524b;
    font-size: 30px;
    line-height: 40px;
  }
  .about p.about-description {
    margin: 0;
    padding: 0 0 40px 0;
  }
  .about-images {
    margin: 66px 0 0px 0;
  }
  .first-item img, .third-item img {
    max-width: 200px;
  }
  .service-more-btn a {
    padding: 19px 26px;
  }
  .intro-block a {
    font-size: 13px;
    padding: 10px 18px;
  }
  .intro-block h3 {
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 5px 0px;
  }
  .out-clients h3::before, .out-clients h3::after {
    display: none;
  }
  .skills {
    margin: 0px 0 30px 0;
  }
  .footer-news {
    margin: 28px 0 0 0;
  }
}

/**/
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .about h2.about-title {
    font-size: 23px;
  }
  .first-item img, .third-item img {
    max-width: 140px;
  }
}

/**/
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/**/
/* Extra Small Devices, Phones */
/**/
/* Small Devices, Tablets */
/**/
/* Medium Devices, Desktops */
/**/
/* Large Devices, Wide Screens */
/**/
